<div id="container__lista">
  <h2>Lista de lembretes</h2>
  <hr>
  <div id="container__lista__lembretes">
    <div class="container__data__lembretes" *ngFor="let item of listaLembretes | keyvalue">
      <h3>{{ item.key | date:"dd/MM/yyyy"}}</h3>

      <div class="lista__lembretes">
        <ul>
          <li *ngFor="let x of item.value">
            <p>{{ x.nome }}</p>
            <button mat-raised-button type="button" class="mat-raised" color="primary" (click)="excluirLembrete(x.id)"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 6L6 18" stroke="#18191F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6 6L18 18" stroke="#18191F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
