<form [formGroup]="LembreteForm" (submit)="cadastrar()">
  <input type="text" formControlName="nome" id="nome" placeholder="Nomeie seu Lembrete">
  <input type="date" formControlName="data" id="data" placeholder="Insira o Dia do Lembrete">

  <fieldset>
    <input type="radio" formControlName="cor" id="red" value="#F95A2C">
    <label for="red"></label>

    <input type="radio" formControlName="cor" id="yellow" value="#FFBD12">
    <label for="yellow"></label>

    <input type="radio" formControlName="cor" id="green" value="#61E4C5">
    <label for="green"></label>
  </fieldset>
  <button type="submit">Adicionar Lembrete</button>

</form>
