<form [formGroup]="LembreteForm" (submit)="cadastrar()">
  <input type="text" formControlName="nome" id="nome" placeholder="Nomeie seu Lembrete">
  <input type="date" formControlName="data" id="data" placeholder="Insira o Dia do Lembrete">

  <fieldset>
    <input type="radio" id="red" value="red">
    <label for="red"></label>

    <input type="radio" id="yellow" value="yellow">
    <label for="yellow"></label>

    <input type="radio" id="green" value="green">
    <label for="green"></label>
  </fieldset>
  <button type="submit">Adicionar Lembrete</button>

</form>
