<form>

    <input type="text" name="nome" id="nome" placeholder="Nomeie seu Lembrete">
    <input type="date" name="data" id="data" placeholder="Insira o Dia do Lembrete">
    <fieldset>
        <input type="radio" name="color" id="red">
        <label for="red"></label>

        <input type="radio" name="color" id="yellow">
        <label for="yellow"></label>

        <input type="radio" name="color" id="green">
        <label for="green"></label>
    </fieldset>
    <button type="submit">Adicionar Lembrete</button>

</form>